<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Babble</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <style>
        html, body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }

        code {
            font-family: 'Roboto Mono', monospace;
        }

        a {
            color: black;
        }

        #body-wrapper {
            display: flex;
            flex-direction: row;
            height: 100vh;
        }

        #sidebar {
            flex: 0 0 200px;
            background-color: #b4c5e0;
            height: 100vh;
            overflow-y: auto;
        }

        #sidebar ul {
            padding: 0;
            list-style: none;
        }

        #sidebar ul li {
            margin: 10px;
            padding-left: 0;
        }

        #sidebar #logo {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            display: block;
            padding-top: 20px;
        }

        #content {
            flex: 4 0;
            height: 100vh;
            overflow-y: auto;
        }

        #inner-content {
            width: calc(100% - 40px);
            height: 100%;
            margin: 20px;
        }

        .v-space {
            border: 0;
            height: 0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);

            margin-top: 40px;
            margin-bottom: 40px;
        }

        .magic {
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 15px;
            background-color: #dbd40977;
        }

        .fade-text {
            color: rgb(128, 128, 128);
        }
    </style>
</head>
<body>
    <div id="body-wrapper">
        <div id="sidebar">
            <!-- Taken from logo.svg, but with width/height removed and id added -->
            <svg id="logo" viewBox="0 0 1000 1000" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>Artboard</title>
                <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M950,50 L950,950 L700,950 L700,831 L825,831 L825,169 L700,169 L700,50 L950,50 Z M300,169 L175,169 L175,831 L300,831 L300,950 L50,950 L50,50 L300,50 L300,169 Z" id="Combined-Shape" fill="#000000"></path>
                    <g id="Group" transform="translate(392.000000, 204.000000)" fill="#000000">
                        <circle id="Oval" cx="108" cy="108" r="108"></circle>
                        <circle id="Oval" cx="108" cy="484" r="108"></circle>
                    </g>
                </g>
            </svg>

            <ul>
                {% for type in types %}
                    <li><a href="#{{ type.id }}">{{ type.id }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div id="content">
            <div id="inner-content">
                {% for type in types %}
                    <a name="{{ type.id }}"></a>
                    <h1>{{ type.id }}</h1>
                    {% match type.description %}
                        {% when Some with (p) %}
                            {{ p|safe }}
                        {% when None %}
                            <p>Undocumented.</p>
                    {% endmatch %}
                    <blockquote>
                        <p>
                            <b>Definition: </b>
                            {% match type.data %}
                                {% when TypeData::Empty %}
                                    Primitive type.
                                {% when TypeData::Fields with { instance_fields, static_fields } %}
                                    {% if instance_fields.is_empty() && static_fields.is_empty() %}
                                        Struct, empty.
                                    {% else %}
                                        Struct with fields:
                                        <ul>
                                            {% for field in instance_fields %}
                                                <li><code>{{ field }}</code></li>
                                            {% endfor %}
                                            {% for field in static_fields %}
                                                <li><code><i>static</i> {{ field }}</code></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% when TypeData::Variants with (variants) %}
                                    Enum with variants:
                                    <ul>
                                        {% for variant in variants %}
                                            {% if variant.fields.is_empty() %}
                                                <li><code>{{ variant.name }}</code></li>
                                            {% else %}
                                                <li>
                                                    <code>{{ variant.name }}</code>, with fields:
                                                    <ul>
                                                        {% for field in variant.fields %}
                                                            <li><code>{{ field }}</code></li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% when TypeData::Mixin %}
                                    Mixin.
                            {% endmatch %}
                        </p>

                        <p>
                            {% if !type.used_mixins.is_empty() %}
                                <b>Uses mixins:</b>
                                <ul>
                                    {% for (mixin, is_static) in type.used_mixins %}
                                        <li><a href="#{{ mixin }}">
                                            {% if is_static %}
                                                <code><i>static</i> </code>
                                            {% endif %}
                                            <code>{{ mixin }}</code>
                                        </a></li>
                                    {% endfor %}
                                    {% if !type.used_core_mixins.is_empty() %}
                                        <li><i class="fade-text">
                                            {% for (mixin, is_static) in type.used_core_mixins %}
                                                <a href="#{{ mixin }}" class="fade-text">
                                                    {% if is_static %}
                                                        <code><i>static</i> </code>
                                                    {% endif %}
                                                    <code>{{ mixin }}</code></a>{% if !loop.last %}, {% endif %}
                                            {% endfor %}    
                                        </i></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </p>
                    </blockquote>

                    {% for method in type.methods %}
                        <h2>
                            {% match method.visibility %}
                                {% when MethodVisibility::Public %}
                                    
                                {% when MethodVisibility::Private %}
                                    <code><i>private</i> </code>
                            {% endmatch %}
                            {% if method.locality == MethodLocality::Static %}
                                <code><i>static</i> </code>
                            {% endif %}
                            <code>{{ method.name }}</code>
                        </h2>

                        {% match method.parsed %}
                            {% when Some with (p) %}
                                {{ p.description|safe }}

                                {% if p.magic %}
                                    <div class="magic">
                                        This method is <b>magic</b> - its implementation is handled
                                        by the core of the interpreter.
                                        <br>
                                        It can still be called like a normal method, but trying to
                                        introspect or change this method's definition may not have
                                        the intended effect.
                                    </div>
                                {% endif %}

                                <blockquote>
                                    {% for (name, desc) in p.parameters %}
                                        <p><b><code>{{ name }}</code></b></p>
                                        <blockquote>
                                            {{ desc|safe }}
                                        </blockquote>
                                    {% endfor %}
                                    {% match p.return_value %}
                                        {% when Some with (desc) %}
                                            <p><b><i>Returns:</i></b></p>
                                            <blockquote>
                                                {{ desc|safe }}
                                            </blockquote>
                                        {% when None %}
                                    {% endmatch %}
                                </blockquote>
                            {% when None %}
                                <p>Undocumented.</p>
                        {% endmatch %}
                    {% endfor %}

                    <hr class="v-space" />
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>